*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color:gainsboro;
    overflow-x: hidden;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #441D06;
    font-size: 72px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #441D06;
    font-size: 64px;
    line-height: 90px;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color:#441D06
}
.container{
    width: 1920px;
    margin: 0 auto;
    background-color:white
}
/*Header */
header .container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 176px 0 166px
}
header img{
    padding-top: 11px;
}
.btn1{
    border: none;
    background: white;
    padding-top: 10px;
    position: relative;
}
#open{
    user-select:none;
    margin-top: 27px;
}
#close{
    display:none;
    user-select: none;
}
#close i{
    font-size: 42px;
    margin-top: 25px;
    color: #441D06;
}
#menu{
    position:absolute;
    right: 0;
    transform: translateX(645px);
    z-index: 1;
    background-color:white;
    width: 403px;
    margin-top: 25px;
    transition: 1s;
}
#menu li{
    padding: 33px 0 0 100px;
    font-weight: 400;
    font-size: 18px;
}
.headKrasnoyarsk{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.headKrasnoyarsk::after{
    content:'Красноярск';
    position: relative;
    left: 3px;
}
.tel{
    width: 228px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 510px;
}
.tel a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.order{
    text-decoration: none;
    font-weight: 600;
    padding-left: 55px;
}
.tel input{
    background: none;
    color: #441D06;
    border: none;
    font-weight: 600;
}
/* main*/
.homes{
    height: 863px;
    background-image: url('../img/homes.png');
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top:5px
}
.kvartiry{
    width: 1229px;
    height: 663px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.63) 63.22%, rgba(255, 255, 255, 0.4347) 164.28%);
    position: absolute;
    top: 114px;
}
.kvartiry p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 0px 127px 160px 432px;
    margin-top: -250px
}
.circle{
    position: absolute;
    top: 505px;
    left: 432px;
    right: 719px;
    bottom: 80px;
    width: 250px;
}
.circle a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 27px;
    left: 57px;
}
.entrance{
    height: 608px;
    background-image: url('../img/entrance.png');
    background-repeat: no-repeat;
    position: relative;
    top:326px
}
.architecture{
    width: 489px;
    height: 290px;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    top:58px;
    right: 23px;
    bottom: 317px;
    left: 430px;
}
.architecture h3{
    line-height: 35px;
    padding: 57px 298px 141px 37px;
}
.architecture p{
    margin-top: -136px;
    padding: 0 48px 0 37px;
}
.pjn{
    width: 553px;
    margin-left: 989px;
    position: relative;
    top: -450px;
}
.pjn h2{
    margin-left: -20px;
}
.pjn li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 110px;
}
.blockCalc{
    width: 1498px;
    height: 186px;
    background-color: #441D06;
    position: relative;
    top: -404px;
}
.blockCalcDescript{
    display: flex;
}
.blockCalcDescript h3{
    line-height: 35px;
    color: white;
    padding: 61px 130px 55px 180px;
}
.blockCalcDescript a{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;
    width: 150px;
    position: absolute;
    top: 27px;
    left: 58px; 
}
.blockCalcCircle{
    position: absolute;
    right: 330px;
    top: 54px
}
.podarite{
    height: 1022px;
    background-color:#FFF9EF;
    position: relative;
    bottom:403px
}
.podarite h2{
    padding: 118px 921px 67px 160px;
}
.bokses{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 171px;
    bottom: 160px;
}
.boks1,.boks2,.boks3{
    text-align: center;
    width: 370px;
}
.boks1 h3,.boks2 h3,.boks3 h3{
    color:#441D06;
    line-height: 35px;
    padding: 52px 0 33px;
}
.raspologenie{
    position: relative;
    bottom:400px
}
.raspologenie .img{
    position: absolute;
    padding: 0 983px 0 165px;
}
.raspologenie h2{
    padding: 170px 135px 57px 971px;
}
.raspologenie p{
    padding: 0 525px 19px 971px;
}
.blockRaspologenie{
    width: 983px;
    height: 227px;
    background-color:#441D06;
    position: absolute;
    right: 0;
    top: 774px;
}
.blockRaspologenie h3{
    color: white;
    padding: 94px 435px 103px 35px;
}
.blockRaspologenieCircle{
    position: absolute;
    top:67px; 
    left:600px;
    right:390px;
    bottom:82px;
}
.blockRaspologenieCircle a{
    width: 243px;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    color: white;
    top: 27px;
    left: 58px;
}
.blockForm{
    position: relative;
    bottom: 70px;
}
.blockForm h2{
    padding: 139px 865px 48px 157px;
}
.blockForm h3{
    line-height: 35px;
    padding: 0 874px 68px 559px;
}
.forma{
    width: 1058px;
    height: 78px;
    position: relative;
    left: 559px;
}
.forma input[type^=text]{
    border-top-style:none ;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 137px;
}
.forma input[type^=submit]{
    border: none;
    background-color:rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    left: 57px;
    z-index: 1;
}
.formCircle{
    position: absolute;
    right: 265px;
    top: -27px;
}
.otdelProdag{
    width: 1498px;
    height: 186px;
    background-color: #441D06;
    position: relative;
    top: -404px;
}
.otdelProdag{
    width: 1355px;
    height: 327px;
    position: relative;
    top:1px
}
.otdelProdag h3{
    line-height:35px;
    color: white;
    padding: 101px 706px 48px 179px;
}
.otdelProdag ul{
    display: flex;
    justify-content: space-between;
    padding: 0 46px 0 205px;
}
.otdelProdag li{
    color: #FCFCFC;
    display: flex;
}
.otdelProdag a{
    color:#FCFCFC;
}
.otdelProdag svg{
    margin-right: 13px;
}
/*footer */
.footer{
    height: 419px;
    background-color:#2B1001;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .logo{
    margin-right: 140px;
}
footer .contact{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
footer li{
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}
footer a[href^=tel]{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.block1 a,.block2 a{
    color: rgba(255, 255, 255, 0.692);
}
/* footer*/
/*Infrastructura*/
.infrastructura p{
    padding: 79px 975px 36px 160px;
}
.blockInfrastructura1,.blockInfrastructura2,.blockInfrastructura3{
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    padding-left: 163px;
}
.blockInfrastructura1 h3,.blockInfrastructura2 h3,.blockInfrastructura3 h3{
    margin-bottom: 18px;
}
.infraImg{
    position: relative;
    bottom: 665px;
    left: 975px;
}
.krasotaVnutri{
    text-align: right;
    padding: 0 174px 0 971px;
    position: relative;
    bottom: 591px;
}
.Ploschadki{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 522px;
    justify-content: center;
}
.kids{
    position: relative;
}
.etag{
    margin-top: -5px;
}
.greenZone{
    margin-top: -139px;
}
.kidsGreenZone h3{
    position: absolute;
    bottom: 5px;
    background-color: rgb(255 255 255 / 47%);
    padding: 15px;
}
.blockRaspologenie2{
    width: 1352px;
    height: 181px;
    background-color: #441D06;
    position: relative;
    top: -529px;
}
.blockRaspologenie2 h3{
    color: white;
    padding: 75px 435px 75px 176px;
}
.blockRaspologenieCircle2{
    position: absolute;
    top: 54px;
    left: 825px;
    right: 390px;
    bottom: 49px
}
.blockRaspologenieCircle2 a{
    width: 243px;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    color: white;
    top: 27px;
    left: 58px;
}
.vseNugnoe{
    position: relative;
    top: -183px;
}
.vseNugnoe h2{
    padding: 0 1310px 31px 160px;
}
.vseNugnoe ul{
    padding-left: 160px;
}
.vseNugnoe li{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.vseNugnoe span{
    margin-left: 33px;
}
.vseNugnoe .circle{
    position: absolute;
    left: 160px;
    top:700px;
    width: 250px;
}
.vseNugnoe .karta{
    position: absolute;
    top: 0;
    right: 148px
}
/*Contacts*/
.contacts{
    position:relative
}
.contacts h3{
    padding: 85px 1585px 45px 160px
}
.contacts ul{
    margin-left: 160px;
}
.contacts li{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.contacts span{
    margin-left: 20px;
}
.contacts .circle{
    position: absolute;
    top: 610px;
    left: 175px;
    width: 250px;
}
.maps{
    top: -490px;
    left: 685px;
}
.prologiteMarshrut{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 440px;
    left: 25px;
}
.prologiteMarshrut h3{
    margin-right: 94px;
}
.prologiteMarshrut input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.prologiteMarshrut .circle{
    position: absolute;
    left: 1375px;
    top: -25px;
    width: 255px;
}
.nashiPartnery{
    position: relative;
    bottom: 290px;
    left: 1107px;
}
.banks{
    position: relative;
    bottom: 275px;
    left: 160px;
}
.drugiebanks{
    font-size: 12px;
    text-align: end;
    padding-right: 167px;
    position: relative;
    bottom: 265px;
}
.blockContacts{
    position: relative;
    bottom: 190px;
}
/*documents*/
.document1,.document2,.document3,.document4,.document5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF9EF;
    width: 1593px;
    height: 137px;
    margin: 0 auto;
    margin-top: 25px;
}
.document1 .download,.document2 .download,.document3 .download,.document4 .download,.document5 .download{
    position: relative;
    left: 165px;
}
.document2 .name{
    padding-right: 140px;
}
.blockDocuments .date{
    position: relative;
    left: 150px;
}
.document1 a,.document2 a,.document3 a,.document4 a,.document5 a{
font-weight: 600;
font-size: 18px;
}
.documents .more{
    text-align: end;
    padding: 59px 170px;
    font-weight: 600;
    font-size: 18px;
}
/*o_proekte*/
.blockProekt{
    position: relative;
    top: 62px;
}
.blockProekt p{
    padding: 0 1000px 57px 160px;
}
.blockProekt ul{
    margin-left: 160px;
}
.blockProekt li{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.blockProekt span{
    margin-left: 35px;
    font-weight: 400;
    font-size: 24px;
}
.imgProekt1{
    position: absolute;
    top: 0;
    right: 170px;
}
.designProekt{
    position: relative;
    top: 150px;
    background-color: #FFF9EF;
    height: 934px;
}
.designProekt h2{
    padding: 118px 323px 95px 160px;
}
.elements{
    display: flex;
    justify-content: flex-end;
}
.elements a{
    padding-right:170px
}
.imgDesign{
    position: absolute;
    top: 490px;
    left: 160px;
}
.designProekt .text1{
    font-weight: 600;
    font-size: 20px;
    padding: 60px 569px 44px 981px;
    color: #441D06;
}
.designProekt .text2{
    padding: 0 469px 0 981px;
}
.blockForProekt{
    position: absolute;
    top: 160px;
    right: 0;
}
.blockForProekt .blockRaspologenie,.blockForKvartiry .blockRaspologenie{
    width: 1352px;
    height: 198px;
    background-color: #441D06;
    position: absolute;
    right: 0;
    top: 774px
}
.blockForProekt .blockRaspologenieCircle,.blockForKvartiry .blockRaspologenieCircle{
    left: 1030px;
}
.blockForProekt input,.blockForKvartiry input{
    position: absolute;
    top: 102px;
    left: 700px;
    background-color: #441D06;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 18px;
    font-weight: 400;
}
.formForProekt{
    margin-top: 450px;
}
/*Hod stroitelstva*/
.carousel{
    margin-top: 70px;
    padding: 0 170px 0 160px;
    position:relative
}
.owl-nav{
    display: none;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color:#441D06
}
.blockStroitelstva{
    display: flex;
    justify-content: end;
}
.blockStroitelstva .blockRaspologenie2{
    top: 0;
}
/*zastroy*/
.zastroy{
    position: relative;
}
.zastroy p{
    padding: 62px 975px 105px 160px;
}
.imgZastroy{
    position:absolute;
    top:72px;
    left: 975px;
}
.nashiProekty{
    padding: 125px 0 65px 160px;
}
.proekty{
    display:flex;
    justify-content: center;
}
.proekty img{
    margin-bottom: 20px;
}
.proekty span{
    font-weight: 600;
    font-size: 18px;
    color: #441D06;
    text-transform: uppercase;
}
.proekty div:hover{
    transform: translate(0px,-45px);
    transition: 1s;
}
.formZastroy{
    margin-top: 50px;
}
/*Prodaga*/
.yslovie{
    height:500px
}
.yslovie p{
    padding:62px 718px 50px 160px;
}
.blocksYslovie{
    display: flex;
    justify-content: space-evenly;
}
.block11,.block22,.block33{
    text-align: center;
    width: 375px;
}
.block1 h3,.block2 h3,.block3 h3{
    margin-top: 40px;
}
.helpMeneger .blockRaspologenie{
    width: 1498px;
    height: 222px;
    background-color: #441D06;
    position: relative;
    right: 0;
    top: 0;
}
.helpMeneger h3{
    padding: 94px 720px 103px 160px;
}
.helpMeneger .blockRaspologenieCircle{
    position: absolute;
    top: 80px;
    left: 1100px;
    right: 0;
    bottom: 82px;
}
.helpMeneger span{
    color: rgb(255 255 255 / 68%);
    font-size: 13px;
    position: absolute;
    top: 165px;
    left: 160px;
}
.banksProdagi .banks{
    position: relative;
    bottom: 0px;
    left: 160px;
}
.banksProdagi p{
    font-size: 12px;
    text-align: end;
    padding-right: 167px;
    position: relative;
    bottom: 0px;
}
.partneryProdagi{
    margin-top: 120px;
}
.banksProdagi{
    margin-top: 30px;
}
.partneryProdagi .nashiPartnery{
    position: relative;
    bottom: 0px;
    left: 1107px;
}
.formProdagi{
    margin-top: 100px;
}
/*kvartiry*/
.select{
    display:flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
select{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #441D06;
}
.selectImg{
    text-align: center;
    margin-top: 10px;
}
.zagolovokVid{
    text-align: end;
    margin-top: 120px;
}
.zagolovokVid h2{
    padding: 0 178px 0 749px;
}
.vid{
    position:relative;
}
.gostinnaja{
    position: absolute;
    top: 77px;
    left: 169px;
}
.vidIzOkna{
    position: absolute;
    top: 523px;
    left: 169px;
}
.kuhnja{
    position: absolute;
    top: 77px;
    left: 1084px
}
.spalnja{
    position: absolute;
    top: 389px;
    left: 1084px;
}
.textGostinnaja,.textVidIzOkna,.textKuhnja,.textSpalnja{
    width: 255px;
    height: 83px;
    background-color:rgba(255, 255, 255, 0.47);
    position: absolute;
    left: 0;
    bottom: 0;

}
.textGostinnaja h3,.textVidIzOkna h3,.textKuhnja h3,.textSpalnja h3{
    padding: 24px 50px;
}
.spalnja img{
    width: 719px;
    height: 366px;
}
.blockForKvartiry{
    position: relative;
    top: -19px;
    right: 567px;
    height: 1000px;
}
